<html ng-app="JuegoBingo">

<head>
    <title>Juego Bingo</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="CODIGO/app.js"></script>
    <script src="CODIGO/cantor.js"></script>
    <script src="CODIGO/tabla.js"></script>


</head>

<body ng-controller="ControladorJuegoBingo">
    <button class="boton" ng-click="IniciarJuego()">
        Iniciar Juego
    </button>
    <button class="boton" ng-click="sacarBalota()">
        Sacar Balota
    </button>
    <div class="ultimabalota">
        Última Balota: <span class="numerobalota">
            {{cantor.ultimabalota || "Ninguno"}}
        </span>
        Balotas restantes: <span class="numerobalota">
            {{cantor.balotasFaltantes.length || "75"}}
        </span>


    </div>
    <div class="panelprincipal">
        
    <div class="cantor">
        <table class="tablaCantor">
            <thead>
                <tr>
                    <th>B</th>
                    <th>I</th>
                    <th>N</th>
                    <TH>G</TH>
                    <TH>O</TH>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fila in cantor.tabla">
                    <td ng-repeat="numero in fila" ng-class="{sacada: cantor.balotasSacadas[numero - 1] }">
                        {{numero}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablas">
        <div class="jugador" ng-repeat="jugador in jugadores">
            <h2>{{jugador.nombre}}</h2>
            </h2>
            <table class="tabla">
                <thead>
                    <tr>
                    <th>B</th>
                    <th>I</th>
                    <th>N</th>
                    <TH>G</TH>
                    <TH>O</TH>
                </tr>
                </thead>
                            <tbody>
                <tr ng-repeat="fila in jugador.tablajugador.tabla">
                    <td ng-repeat="numero in fila" ng-class="{sacada:false}">
                        {{numero}}
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</body>

</html>